ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hw_random", OWNER="root", GROUP="aid_system", MODE="0440"
ACTION=="add", KERNEL=="ashmem", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="vndbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="aid_log", MODE="0222"
ACTION=="add", KERNEL=="msm_hw3dc", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="kgsl", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="aid_graphics", MODE="0666"
ACTION=="add", KERNEL=="diag", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="diag_arm9", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyMSM0", OWNER="aid_bluetooth", GROUP="aid_bluetooth", MODE="0600"
ACTION=="add", KERNEL=="uhid", OWNER="aid_uhid", GROUP="aid_uhid", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="aid_system", GROUP="aid_bluetooth", MODE="0660"
ACTION=="add", KERNEL=="alarm", OWNER="aid_system", GROUP="aid_radio", MODE="0664"
ACTION=="add", KERNEL=="rtc0", OWNER="aid_system", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="aid_graphics", MODE="0660"
ACTION=="add", KERNEL=="msm_hw3dm", OWNER="aid_system", GROUP="aid_graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="v4l-touch*", OWNER="root", GROUP="input", MODE="0660"
ACTION=="add", KERNEL=="eac", OWNER="root", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="cam", OWNER="root", GROUP="aid_camera", MODE="0660"
ACTION=="add", KERNEL=="pmem", OWNER="aid_system", GROUP="aid_graphics", MODE="0660"
ACTION=="add", KERNEL=="pmem_adsp*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="pmem_camera*", OWNER="aid_system", GROUP="aid_camera", MODE="0660"
ACTION=="add", KERNEL=="oncrpc/*", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="adsp/*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="mt9t013", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="msm_camera/*", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="akm8976_daemon", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_aot", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_daemon", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="akm8973_aot", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="bma150", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="cm3602", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="akm8976_pffd", OWNER="aid_compass", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="lightsensor", OWNER="aid_system", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="msm_pcm_out*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_in*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_pcm_ctl*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_snd*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_mp3*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="audience_a1026*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="tpa2018d1*", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audpre", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="msm_audio_ctl", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="htc-acoustic", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="vdec", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="q6venc", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/dsp1", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="snd/mixer", OWNER="aid_system", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="smd0", OWNER="aid_radio", GROUP="aid_radio", MODE="0640"
ACTION=="add", KERNEL=="qmi", OWNER="aid_radio", GROUP="aid_radio", MODE="0640"
ACTION=="add", KERNEL=="qmi0", OWNER="aid_radio", GROUP="aid_radio", MODE="0640"
ACTION=="add", KERNEL=="qmi1", OWNER="aid_radio", GROUP="aid_radio", MODE="0640"
ACTION=="add", KERNEL=="qmi2", OWNER="aid_radio", GROUP="aid_radio", MODE="0640"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="aid_usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="plugdev", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="aid_usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="aid_system", GROUP="aid_vpn", MODE="0660"
ACTION=="add", KERNEL=="ts0710mux*", OWNER="aid_radio", GROUP="aid_radio", MODE="0640"
ACTION=="add", KERNEL=="ppp", OWNER="aid_radio", GROUP="aid_vpn", MODE="0660"
ACTION=="add", KERNEL=="dvb*", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0boot0", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0boot1", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="misc-sd", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/misc2", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/boot", OWNER="root", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/recovery", OWNER="root", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/secro", OWNER="root", GROUP="aid_system", MODE="0640"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/seccfg", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/proinfo", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/nvram", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/para", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/logo", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/frp", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/md1img", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/md1dsp", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/md1arm7", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/md3img", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="focaltech_fp", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="otp", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/otp", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="stpwmt", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="wmtdetect", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="stpbt", OWNER="aid_bluetooth", GROUP="aid_bluetooth", MODE="0660"
ACTION=="add", KERNEL=="stpgps", OWNER="aid_gps", GROUP="aid_gps", MODE="0660"
ACTION=="add", KERNEL=="gps", OWNER="aid_gps", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="wmtWifi", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="fm", OWNER="aid_media", GROUP="aid_media", MODE="0660"
ACTION=="add", KERNEL=="msr3110", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="mt6605", OWNER="aid_nfc", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="st21nfc", OWNER="aid_nfc", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="btif", OWNER="aid_system", GROUP="aid_system", MODE="0600"
ACTION=="add", KERNEL=="trusty-ipc-dev0", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="aid_system", GROUP="aid_system", MODE="0600"
ACTION=="add", KERNEL=="mobicore-user", OWNER="aid_system", GROUP="aid_system", MODE="0666"
ACTION=="add", KERNEL=="t-base-tui", OWNER="aid_system", GROUP="aid_system", MODE="0666"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="aid_usb", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB0", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB1", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB2", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB3", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB4", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="log/ksystem", OWNER="root", GROUP="aid_log", MODE="0600"
ACTION=="add", KERNEL=="ccci*", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyC*", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="eemcs*", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="emd*", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="ccci_pcm_rx", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ccci_pcm_tx", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ccci_aud", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ccci2_aud", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ccci3_aud", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ccci_raw_audio", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="ccci3_raw_audio", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="eemcs_aud", OWNER="audio", GROUP="audio", MODE="0660"
ACTION=="add", KERNEL=="irtx", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="ir-learning", OWNER="aid_system", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="pvrsrvkm", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="pvr_sync", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="mtgpio", OWNER="aid_radio", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="ttySDIO*", OWNER="aid_radio", GROUP="aid_sdcard_rw", MODE="0660"
ACTION=="add", KERNEL=="ttyRB*", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="mali", OWNER="aid_system", GROUP="aid_graphics", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="aid_system", GROUP="aid_graphics", MODE="0666"
ACTION=="add", KERNEL=="touch", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="hotknot", OWNER="root", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="RT_Monitor", OWNER="aid_system", GROUP="aid_system", MODE="0600"
ACTION=="add", KERNEL=="kick_powerkey", OWNER="aid_system", GROUP="aid_system", MODE="0600"
ACTION=="add", KERNEL=="ttyACM0", OWNER="aid_radio", GROUP="aid_radio", MODE="0660"
ACTION=="add", KERNEL=="tkcoredrv", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="block/platform/bootdevice/by-name/sdrpmb", OWNER="root", GROUP="aid_system", MODE="0660"

# From init.mt6763.rc, needed for video decoding/buffer sharing
ACTION=="add", KERNEL=="mtk_cmdq", OWNER="aid_system", GROUP="aid_system", MODE="0644"
ACTION=="add", KERNEL=="Vcodec", OWNER="aid_media", GROUP="aid_system", MODE="0660"
ACTION=="add", KERNEL=="mtk_disp_mgr", OWNER="aid_system", GROUP="aid_graphics", MODE="0660"
ACTION=="add", KERNEL=="sw_sync", OWNER="aid_system", GROUP="aid_graphics", MODE="0660"
ACTION=="add", KERNEL=="ccu", OWNER="aid_system", GROUP="aid_camera", MODE="0666"
ACTION=="add", KERNEL=="MTK_SMI", OWNER="aid_media", GROUP="aid_media", MODE="0660"
ACTION=="add", KERNEL=="mtk_dfrc", OWNER="aid_system", GROUP="aid_graphics", MODE="0660"

# Avoid 666 default perms
KERNEL=="kvm", GROUP="kvm", MODE="0660"
