# https://apps.kde.org/kate temporary files
.*.kate-swp

# hybris cports
/cports

# always applied local config overrides
/config.local.sh

# mkrootfs.sh artifacts
/apk-cache
/chimera-linux-*-ROOTFS-*-bootstrap.tar.gz

# ~100M of kernel module binaries extracted from UT boot tarball
/overlays/volla-vidofnir/usr/lib/modules
