ACTION=="add", KERNEL=="null", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="zero", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="full", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ptmx", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="tty", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="random", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="urandom", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="ashmem*", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="binder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="hwbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="vndbinder", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="pmsg0", OWNER="root", GROUP="android_log", MODE="0222"
ACTION=="add", KERNEL=="dma_heap/system", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/system-uncached", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/system-secure", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dri/*", OWNER="root", GROUP="android_graphics", MODE="0666"
ACTION=="add", KERNEL=="uhid", OWNER="android_uhid", GROUP="android_uhid", MODE="0660"
ACTION=="add", KERNEL=="uinput", OWNER="android_uhid", GROUP="android_uhid", MODE="0660"
ACTION=="add", KERNEL=="rtc0", OWNER="android_system", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="tty0", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="graphics/*", OWNER="root", GROUP="android_graphics", MODE="0660"
ACTION=="add", KERNEL=="input/*", OWNER="root", GROUP="android_input", MODE="0660"
ACTION=="add", KERNEL=="v4l-touch*", OWNER="root", GROUP="android_input", MODE="0660"
ACTION=="add", KERNEL=="snd/*", OWNER="android_system", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="android_usb", MODE="0660"
ACTION=="add", KERNEL=="mtp_usb", OWNER="root", GROUP="android_mtp", MODE="0660"
ACTION=="add", KERNEL=="usb_accessory", OWNER="root", GROUP="android_usb", MODE="0660"
ACTION=="add", KERNEL=="tun", OWNER="android_system", GROUP="android_vpn", MODE="0660"
ACTION=="add", KERNEL=="ppp", OWNER="android_radio", GROUP="android_vpn", MODE="0660"
ACTION=="add", KERNEL=="kvm", OWNER="android_virtmanager", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="vhost-vsock", OWNER="android_virtmanager", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="block/mmcblk0*", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0boot0", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0boot1", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="misc-sd", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/sda", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/sdb", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/sdc", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/misc2", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/boot", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/recovery", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/secro", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/seccfg", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/proinfo", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/nvram", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/para", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/logo", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/frp", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/md1img", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/md1img_a", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/md1img_b", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="block/by-name/md1dsp", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/boot_para", OWNER="root", GROUP="android_system", MODE="0640"
ACTION=="add", KERNEL=="otp", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/by-name/otp", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="stpwmt", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="wmtdetect", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="fw_log_wmt", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="conninfra_dev", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="conn_pwr_dev", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="stpbt", OWNER="android_bluetooth", GROUP="android_bluetooth", MODE="0660"
ACTION=="add", KERNEL=="fw_log_bt", OWNER="android_bluetooth", GROUP="android_bluetooth", MODE="0660"
ACTION=="add", KERNEL=="gpsdl0", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="gpsdl1", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="stpgps", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="gps", OWNER="android_gps", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="gps_emi", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="gps2scp", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="gps_pwr", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="fw_log_gps", OWNER="android_gps", GROUP="android_gps", MODE="0660"
ACTION=="add", KERNEL=="stpant", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="wmtWifi", OWNER="android_wifi", GROUP="android_wifi", MODE="0660"
ACTION=="add", KERNEL=="fw_log_wifi", OWNER="android_wifi", GROUP="android_wifi", MODE="0660"
ACTION=="add", KERNEL=="fm", OWNER="android_media", GROUP="android_media", MODE="0660"
ACTION=="add", KERNEL=="spidev1.0", OWNER="android_system", GROUP="android_system", MODE="0666"
ACTION=="add", KERNEL=="st21nfc", OWNER="android_nfc", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="st54spi", OWNER="android_secure_element", GROUP="android_secure_element", MODE="0660"
ACTION=="add", KERNEL=="btif", OWNER="android_system", GROUP="android_system", MODE="0600"
ACTION=="add", KERNEL=="trusty-ipc-dev0", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="nebula-ipc-dev0", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="block/mmcblk0rpmb", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="mobicore", OWNER="android_system", GROUP="android_system", MODE="0600"
ACTION=="add", KERNEL=="mobicore-user", OWNER="android_system", GROUP="android_system", MODE="0666"
ACTION=="add", KERNEL=="t-base-tui", OWNER="android_system", GROUP="android_system", MODE="0666"
ACTION=="add", KERNEL=="teeperf", OWNER="android_system", GROUP="android_system", MODE="0666"
ACTION=="add", KERNEL=="video*", OWNER="android_camera", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="media*", OWNER="android_camera", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="v4l-subdev*", OWNER="android_camera", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="vcu", OWNER="android_camera", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="mtk_hcp", OWNER="android_camera", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="dri/card0", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="mddp", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="bus/usb/*", OWNER="root", GROUP="android_usb", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB0", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB1", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB2", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB3", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyUSB4", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="log/ksystem", OWNER="root", GROUP="android_log", MODE="0600"
ACTION=="add", KERNEL=="ccci*", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="ttyC*", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="eemcs*", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="emd*", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="ccci_pcm_rx", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="ccci_pcm_tx", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="ccci_aud", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="ccci2_aud", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="ccci3_aud", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="ccci_raw_audio", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="ccci3_raw_audio", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="eemcs_aud", OWNER="android_audio", GROUP="android_audio", MODE="0660"
ACTION=="add", KERNEL=="irtx", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="lirc*", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="ir-learning", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="pvrsrvkm", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="pvr_sync", OWNER="root", GROUP="root", MODE="0666"
ACTION=="add", KERNEL=="mtgpio", OWNER="android_radio", GROUP="root", MODE="0600"
ACTION=="add", KERNEL=="camera_eeprom*", OWNER="android_system", GROUP="android_camera", MODE="0660"
ACTION=="add", KERNEL=="ttySDIO*", OWNER="android_radio", GROUP="android_sdcard_rw", MODE="0660"
ACTION=="add", KERNEL=="ttyRB*", OWNER="android_radio", GROUP="android_radio", MODE="0660"
ACTION=="add", KERNEL=="mali0", OWNER="android_system", GROUP="android_graphics", MODE="0666"
ACTION=="add", KERNEL=="ion", OWNER="android_system", GROUP="android_graphics", MODE="0666"
ACTION=="add", KERNEL=="dma_heap/mtk_mm", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_mm-uncached", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_svp_page-uncached", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_prot_page-uncached", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_svp_region", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_svp_region-aligned", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_prot_region", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_prot_region-aligned", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_2d_fr_region", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_2d_fr_region-aligned", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_wfd_region", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_wfd_region-aligned", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_wfd_page-uncached", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_sapu_data_shm_region", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_sapu_data_shm_region-aligned", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_sapu_engine_shm_region", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="dma_heap/mtk_sapu_engine_shm_region-aligned", OWNER="android_system", GROUP="android_system", MODE="0444"
ACTION=="add", KERNEL=="touch", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="hotknot", OWNER="root", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="RT_Monitor", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="kick_powerkey", OWNER="android_system", GROUP="android_system", MODE="0660"
ACTION=="add", KERNEL=="ttyACM0", OWNER="android_radio", GROUP="android_radio", MODE="0660"
